<ion-header class="ion-no-border">
  <ion-toolbar color=#fffff>
    <!-- <div  > -->
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline" class="profilebackbtn" button routerLink="/"></ion-icon>
      <!-- <ion-back-button defaultHref="/"></ion-back-button> -->
    </ion-buttons>
    <ion-title class="custom-profileHeader">Validate</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content [fullscreen]="true" >
<div>
  <ion-img class="logoimg"
  src="\assets\images\logo.jpg"

  alt=""
></ion-img>
</div>
<div class="logindiv">
  <ion-item class="custom-input">
    <ion-input label="OTP" labelPlacement="floating" placeholder="" ></ion-input>
  </ion-item>
  <ion-item class="custom-input">
    <ion-input label="New Password" labelPlacement="floating" placeholder="" ></ion-input>
  </ion-item>
  <ion-item class="custom-input">
    <ion-input label="confirm Password" labelPlacement="floating" placeholder="" ></ion-input>
  </ion-item>
  </div>
  <div class="buttons">
  <ion-buttons class="custom-button">
    <ion-button >
      Change Password
    </ion-button>
  </ion-buttons>
 
</div>
</ion-content>
