<ion-header class="ion-no-border">
  <ion-toolbar color=#fffff>
    <!-- <div  > -->
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline" class="profilebackbtn" button routerLink="/"></ion-icon>
      <!-- <ion-back-button defaultHref="/"></ion-back-button> -->
    </ion-buttons>
    <ion-title class="custom-profileHeader">Privacy</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content [fullscreen]="true" >
<div class="custom-heading">
  <ion-text class="heading1">
    <h1>Privacy</h1>
  </ion-text> 
</div>
<div class="custom-text">
  <ion-text>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
    when an unknown printer took a galley of type and scrambled it to make a type 
    specimen book. It has survived not only five centuries, but also the leap into 
    electronic typesetting, remaining essentially unchanged. It was popularised in 
    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
    and more recently with desktop publishing software like Aldus PageMaker including 
    versions of Lorem Ipsum.
  </ion-text>
</div>
</ion-content>
