<ion-header class="ion-no-border">
  <ion-toolbar color=#fffff>
    <!-- <div  > -->
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline" class="profilebackbtn" button routerLink="/"></ion-icon>
      <!-- <ion-back-button defaultHref="/"></ion-back-button> -->
    </ion-buttons>
    <ion-title class="custom-profileHeader">Forgot Password</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content [fullscreen]="true">
  <div class="logo">
    <ion-img 
    src="\assets\images\logo.jpg"
    alt=""></ion-img>
  </div>
  <div class="logindiv">
    <ion-item class="custom-input">
      <ion-input label="Phone Number" labelPlacement="floating" placeholder=""></ion-input>
    </ion-item>
  </div>
  <div class="buttons">
    <ion-buttons class="custom-button">
      <ion-button>
        validate
      </ion-button>
    </ion-buttons>
  </div>
</ion-content>